@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
body {
    padding: 15px;
    background-color: #18121E;
    color: #252525;
}

body#resume {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h4{
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
    color: #EB6E80;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    line-height: 1.25em;
}

article h3{
    color: #EB6E80;
}

h4{
    font-weight: 300;
    font-style: italic;
}

p {
    margin: 5px 0 5px;
    font-size: 15px;
}

#resume p {
    font-weight: 300;
    line-height: 1.4em;
}

a {
    color: #C3272F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body > .content {
    background-color: #fff;
    max-width: 740px;
    padding: 20px 25px;
    margin: 0 auto 15px;
}

header {
    overflow: hidden;
    margin-bottom: 40px;
}

#resume-title {
    margin: 0 auto;
}

#contact-info {
    text-align: right;
    margin: 0 auto;
}

#contact-info p {
    font-size: 14px;
    margin-bottom: 8px;
}

#contact-info a {
    color: #252525;
}

footer {
    clear: both;
    padding: 10px 0;
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 1px solid #EB6E80;
    margin-top: 20px;
}
.helper{
    margin: 0 auto;
    max-width: 740px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
@media screen and (min-width: 100px) {
    #resume-title {
        text-align: center;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
     #contact-info {
        text-align: center;
    }
    .helper{
        display: none;
    }
}

@media screen and (min-width: 600px) {
    body {
        padding: 20px 40px;
    }
    body > .content {
        padding: 40px 50px;
    }
    .helper{
        display: block;
    }
}

@media screen and (min-width: 800px) {
    #resume-title {
        float: left;
        margin: 0;
        text-align: left;
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }
    #contact-info {
        float: right;
        width: 30%;
        text-align: right;
    }
    body > .content section {
        width: 63.513514%;
        float: left;
        clear: left;
    }
    .helper{
        display: block;
    }
}

@media print {
    body{
        background-color: #fff;
    }
    body > .content {
        padding: 5px;
    }
    p {
        font-size: 14px;
    }
    header{
        margin-bottom: 0;
    }
    #resume-title {
        float: left;
        margin: 0;
        text-align: left;
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }
    #contact-info {
        float: right;
        width: 30%;
        margin-top: 15px 0 0;
        text-align: right;
    }
    body > .content section {
        width: 63.513514%;
        float: left;
        clear: left;
    }
    .helper{
        display: none;
    }
}
